﻿@{
    ViewData["Title"] = "Connections";
}

<style>
    ul {
        list-style: none;
    }

    .connected {
        color: green;
    }

    .disconnected {
        color: red;
    }

    .reconnected {
        color: blue;
    }   
</style>


<div id="app">
    
    <h1>Connections</h1>

    <ul id="connections">
        <li v-for="conn in connections" :key="conn.clientId">
            <i v-bind:class="[conn.status === 'disconnected' ? 'fa-heart-broken' : 'fa-heartbeat'  , conn.status]" class="fas "></i> {{ conn.clientId }} {{ conn.lastHeartbeatDateTime }} ({{ conn.status }})
        </li>
    </ul>

</div>

@section Scripts
{
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="~/js/iot.js"></script>
}
